.container {
  width: 900px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 10px;
  .head {
    font-size: 25px;
    min-height: 40px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 100;
    padding-left: 30px;
  }
  .success {
    background: #19BE10;
  }
  .error{
    background: $primary;
  }
  .category{
    min-height: 40px;
    border-top: 1px solid rgba(0,0,0,.1);
    .name {
      display: inline-block;
      line-height: 60px;
      margin-left: 30px;
    }
    .status{
      float: right;
      line-height: 40px;
      margin-right: 30px;
    }
    .green{
      color: #19BE10;
    }
    .red {
      color: $primary;
    }
  }
}
