doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    title Service status page
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='main.css')
  body(ng-app='application')
    div(ng-include="'/components/nav/nav.html'")
    div(ng-view)
    div(ng-include="'/components/footer/footer.html'")
    script(src='app.js')
    script(src='//localhost:35729/livereload.js')
