.container(ng-controller="statusCtrl")
  .head.success System status
  .category(ng-repeat='(name,status) in status.data')
    .name(ng-bind="name")
    .status.green(ng-show='status==true') Operational
    .status.red(ng-show='status==false') Error
